{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<h1>Submit New Design</h1>
<form action="/adddesign" method="POST">
    <input type="text" name = "design_input" id="design_input" placeholder="Design Name">
    <input type="text" class="form-control col-sm-12" value="" data-role="tagsinput" name="tag_input" id="tag_input" placeholder="Tags">
    <br>
    <br>
    <input type="text" name="design_info" id="design_info" placeholder="Design Text Here">
    <br>
    <br>
    <input type="submit" value = "Add ">
</form>


{% endblock %}