{% extends 'base.html' %}

{% block head %}

{% endblock %}



{% block body %}
<h1>Submit New Design</h1>
<form action="/" method="POST">
  <input type="text" name = "design_input" id="design_input" placeholder="Design Name">
  <!--<input type="text" name = "tag_input" id="tag_input" placeholder="Tag">-->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" crossorigin="anonymous">
  <input type="text" class="form-control col-sm-12" value="" data-role="tagsinput" name="tag_input" id="tag_input" placeholder="Tags">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js" crossorigin="anonymous"></script>

  <br>
  <br>
  <input type="text" name="design_info" id="design_info" placeholder="Design Text Here">
  <br>
  <br>
  <input type="submit" value = "Add ">
</form>

<!-- <h1>Search Design</h1>
<form action="/" method="POST">
  <input type="text" name = "tag_search" id="tag_search" placeholder="Search via Tag">

  <input type="submit" value = "Search ">
</form> -->

<div class="row">
  {% for post in posts %}
    <div class="col-sm-4">
      <div class="card w-70">
        <div class="card-body">
          <h5 class="card-title">{{ post.design_name }}</h5>
          <p class="card-text">{{ post.design_content }}</p>
          {% for designTag in post.subscriptions %}
            <td>{{ designTag.tag_name }}</td>
          {% endfor %}
          <a href="/delete/{{post.design_id}}">Delete</a>
          <a href="/update/{{post.design_id}}">Update</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <br>
    </div>
  {% endfor %}
</div>


<div class="content">
  <h1> Posts </h1>
  <table>
    <tr>
      <th>Title</th>
      <th>Info</th>
      <th>Tag</th>
      <th>Actions</th>
    </tr>
    {% for post in posts %}
      <tr>
        <td>{{ post.design_name }}</td>
        <td>{{ post.design_content }}</td>
        {% for designTag in post.subscriptions %}
          <td>{{ designTag.tag_name }}</td>
        {% endfor %}
        <td>
          <a href="/delete/{{post.design_id}}">Delete</a>
          <br>
          <a href="/update/{{post.design_id}}">Update</a>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>

<div class="allTags">
  <h1> Tags </h1>
  <table>
    <tr>
      <th>Tags</th>
      <th>Actions</th>
    </tr>
    {% for tag in tags %}
      <tr>
        <td>{{ tag.tag_name }}</td>

        <td>
          <a href="/search/{{tag.tag_id}}">Filter By</a>
          <a href="/tagdelete/{{tag.tag_id}}">Delete Tag</a>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}

